@charset "UTF-8";
/* VARIABLES */ /* MIXINS */ /**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* FONTS */
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* GENERAL */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  height: auto;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
}

/* STICKY-FOOTER */
.site-main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header .list-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* C1/A */
  color: #151515;
}
.site-header .text-gren {
  color: #6A983C;
}
.site-header .header-top-inner {
  border-bottom: 1px solid rgba(21, 21, 21, 0.0509803922);
}
.site-header .header-center-inner {
  padding: 40px 0 48px 0;
}
.site-header .form {
  max-width: 500px;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.site-header .form .form-select {
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  border: none;
  border-radius: 0;
  background-color: transparent;
  padding: 10px 30px 10px 16px;
  width: 170px;
  height: 42px;
}
.site-header .form .form-select:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.site-header .form .borders {
  margin: 5px 0;
  border-right: 1px solid #D1D1D1;
}
.site-header .form .search {
  border: none;
  background-color: transparent;
  height: 42px;
}
.site-header .form .search:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.site-header .form .search::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.site-header .form .search::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.site-header .form .search:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.site-header .form .search::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.site-header .form .search::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.site-header .form .btn-search {
  border: none;
}
.site-header .form .btn-search:hover {
  background-color: transparent;
}
.site-header .form .btn-search:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.site-header .btn-groups .btn {
  border: none;
  padding: 0;
  position: relative;
}
.site-header .btn-groups .btn:last-child:before {
  content: "4";
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16px;
  position: absolute;
  left: -6px;
  bottom: -6px;
  display: inline-block;
  background: #E6704B;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1490196078);
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}
.site-header .header-bottom {
  background-color: #F9F9F9;
}
.site-header .header-bottom-inner .form-select {
  width: auto;
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}
.site-header .header-bottom-inner .form-select:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.site-header .header-bottom-inner .form-select:not(:last-child) {
  margin-right: 25px;
}

@media only screen and (max-width: 575px) {
  .site-header .form {
    height: auto;
  }
}
.components .text-grin {
  color: #A9A9A9;
}
.components .text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.components .list-item-icon:not(:last-child) {
  margin-right: 24px;
}
.components .list-item-icon:last-child .list-link-icon span {
  padding: 2px 8px;
  background: #F4F8EC;
  border-radius: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.components .list-link-icon {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #A9A9A9;
  text-decoration: none;
}
.components .list-link-icon span {
  margin-right: 4px;
}
.components .list-item-icon--active .list-link-icon {
  color: #151515;
}
.components .list-item-icon--active .list-link-icon svg path {
  stroke: #6A983C;
}
.components .radio-input:checked + .radio-box .radio-check {
  border: 6px solid #151515;
}
.components .radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.components .radio-check {
  width: 20px;
  height: 20px;
  border: 1.5px solid #D1D1D1;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.components .radio-filter {
  padding: 11px 16px;
  background: #F9F9F9;
  display: inline-block;
  height: 42px;
  /* C1/D */
  display: inline-block;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.components .radio-filter .radio-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}
.components .radio-filter .chack-input:checked + .chack-box .chack-span-box {
  background-color: #6A983C;
  border: 1.5px solid #46760A;
  background-image: url("../images/chack.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.components .radio-filter .chack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0;
}
.components .radio-filter .chack-box .chack-span-box {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid #D1D1D1;
}
.components .radio-filter .chack-box .chack-span-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}
.components .radio-filter .chack-box .chack-span {
  margin-left: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  padding: 0px 8px 0px 8px;
  height: 18px;
  display: inline-block;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
}
.components .radio-filter .line {
  width: 20px;
  height: 0px;
  border-bottom: 1px solid #D1D1D1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.components .radio-filter .form-select {
  background-color: transparent;
  border: none;
  width: 65px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.components .radio-filter .form-select:focus {
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}
.components .selected-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}
.components .selected {
  background: #F4F8EC;
  border-radius: 12px;
  padding: 1px 10px;
  display: inline-block;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
}
.components .selected img {
  margin-left: 8px;
}

.components-filter .components-filter-inner {
  margin-top: 64px;
}
.components-filter .filtrs {
  width: 251px;
}
.components-filter .filtrs .filtrs-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}
.components-filter .list {
  width: 268px;
  padding: 0;
  margin: 0;
}
.components-filter .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.components-filter .list-item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}
.components-filter .list-item .span {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  background: #F4F8EC;
  border-radius: 12px;
  padding: 0 8px;
  display: inline-block;
}
.components-filter .list-item .chack-input:checked + .chack-box .chack-span-box {
  background-color: #6A983C;
  border: 1.5px solid #46760A;
  background-image: url("../images/chack.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.components-filter .list-item .chack-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0;
}
.components-filter .list-item .chack-box .chack-span-box {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  border: 1.5px solid #D1D1D1;
}
.components-filter .list-item .chack-box .chack-span-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}
.components-filter .list-item .chack-box .chack-span {
  margin-left: 8px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
  padding: 0px 8px 0px 8px;
  height: 18px;
  display: inline-block;
  border: 1px solid #EBEBEB;
  border-radius: 12px;
}
.components-filter .list-item:nth-child(1) .rate1 {
  float: left;
  padding: 0 10px;
}
.components-filter .list-item:nth-child(1) .rate1:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .list-item:nth-child(1) .rate1:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .list-item:nth-child(1) .rate:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .list-item:nth-child(1) .rate1 > input:checked ~ label {
  color: #ffc700;
}
.components-filter .list-item:nth-child(1) .rate1:not(:checked) > label:hover,
.components-filter .list-item:nth-child(1) .rate1:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.components-filter .list-item:nth-child(1) .rate1 > input:checked + label:hover,
.components-filter .list-item:nth-child(1) .rate1 > input:checked + label:hover ~ label,
.components-filter .list-item:nth-child(1) .rate1 > input:checked ~ label:hover,
.components-filter .list-item:nth-child(1) .rate1 > input:checked ~ label:hover ~ label,
.components-filter .list-item:nth-child(1) .rate1 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.components-filter .list-item:nth-child(2) .rate2 {
  float: left;
  padding: 0 10px;
}
.components-filter .list-item:nth-child(2) .rate2:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .list-item:nth-child(2) .rate2:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .list-item:nth-child(2) .rate2:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .list-item:nth-child(2) .rate2 > input:checked ~ label {
  color: #ffc700;
}
.components-filter .list-item:nth-child(2) .rate2:not(:checked) > label:hover,
.components-filter .list-item:nth-child(2) .rate2:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.components-filter .list-item:nth-child(2) .rate2 > input:checked + label:hover,
.components-filter .list-item:nth-child(2) .rate2 > input:checked + label:hover ~ label,
.components-filter .list-item:nth-child(2) .rate2 > input:checked ~ label:hover,
.components-filter .list-item:nth-child(2) .rate2 > input:checked ~ label:hover ~ label,
.components-filter .list-item:nth-child(2) .rate2 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.components-filter .list-item:nth-child(3) .rate3 {
  float: left;
  padding: 0 10px;
}
.components-filter .list-item:nth-child(3) .rate3:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .list-item:nth-child(3) .rate3:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .list-item:nth-child(3) .rate3:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .list-item:nth-child(3) .rate3 > input:checked ~ label {
  color: #ffc700;
}
.components-filter .list-item:nth-child(3) .rate3:not(:checked) > label:hover,
.components-filter .list-item:nth-child(3) .rate3:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.components-filter .list-item:nth-child(3) .rate3 > input:checked + label:hover,
.components-filter .list-item:nth-child(3) .rate3 > input:checked + label:hover ~ label,
.components-filter .list-item:nth-child(3) .rate3 > input:checked ~ label:hover,
.components-filter .list-item:nth-child(3) .rate3 > input:checked ~ label:hover ~ label,
.components-filter .list-item:nth-child(3) .rate3 > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.components-filter .list-item:nth-child(4) .rate {
  float: left;
  padding: 0 10px;
}
.components-filter .list-item:nth-child(4) .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .list-item:nth-child(4) .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .list-item:nth-child(4) .rate:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .list-item:nth-child(4) .rate > input:checked ~ label {
  color: #ffc700;
}
.components-filter .list-item:nth-child(4) .rate:not(:checked) > label:hover,
.components-filter .list-item:nth-child(4) .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.components-filter .list-item:nth-child(4) .rate > input:checked + label:hover,
.components-filter .list-item:nth-child(4) .rate > input:checked + label:hover ~ label,
.components-filter .list-item:nth-child(4) .rate > input:checked ~ label:hover,
.components-filter .list-item:nth-child(4) .rate > input:checked ~ label:hover ~ label,
.components-filter .list-item:nth-child(4) .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.components-filter .list-item:nth-child(5) .rate {
  float: left;
  padding: 0 10px;
}
.components-filter .list-item:nth-child(5) .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .list-item:nth-child(5) .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .list-item:nth-child(5) .rate:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .list-item:nth-child(5) .rate > input:checked ~ label {
  color: #ffc700;
}
.components-filter .list-item:nth-child(5) .rate:not(:checked) > label:hover,
.components-filter .list-item:nth-child(5) .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.components-filter .list-item:nth-child(5) .rate > input:checked + label:hover,
.components-filter .list-item:nth-child(5) .rate > input:checked + label:hover ~ label,
.components-filter .list-item:nth-child(5) .rate > input:checked ~ label:hover,
.components-filter .list-item:nth-child(5) .rate > input:checked ~ label:hover ~ label,
.components-filter .list-item:nth-child(5) .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
.components-filter .list-item:not(:last-child) {
  margin-bottom: 12px;
}
.components-filter .wrapper {
  width: 251px;
}
.components-filter .containers {
  position: relative;
  width: 100%;
  height: 50px;
}
.components-filter input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.components-filter .slider-track {
  width: 100%;
  height: 6px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}
.components-filter input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
}
.components-filter input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 6px;
}
.components-filter input[type=range]::-ms-track {
  appearance: none;
  height: 6px;
}
.components-filter input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: -9px;
  pointer-events: auto;
  border-radius: 50%;
}
.components-filter input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6A983C;
  pointer-events: auto;
}
.components-filter input[type=range]::-ms-thumb {
  appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #6A983C;
  pointer-events: auto;
}
.components-filter input[type=range]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #6A983C;
}
.components-filter #range1,
.components-filter #range2 {
  width: 109px;
  display: inline-block;
  padding: 11px 21px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #A9A9A9;
}
.components-filter #range1 {
  margin-right: 9px;
}
.components-filter #range2 {
  margin-left: 9px;
}
.components-filter .span-max {
  margin-left: 115px;
}
.components-filter .span-max,
.components-filter .span-min {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}
.components-filter .btn {
  background-color: #6A983C;
  border: 2px solid #46760A;
  border-radius: 12px;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.components-filter .btn-Reset {
  background-color: transparent;
  border: 2px solid transparent;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  color: #A9A9A9;
}
.components-filter .list-card {
  list-style: none;
}
.components-filter .list-card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #D1D1D1;
  border-radius: 12px;
}
.components-filter .img {
  width: 268px;
  height: 280px;
  background: #F9F9F9;
  border-radius: 12px;
}
.components-filter .rate10 {
  float: left;
  padding: 0 10px;
}
.components-filter .rate10:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.components-filter .rate10:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.components-filter .rate10:not(:checked) > label:before {
  content: "★ ";
}
.components-filter .rate10 > input:checked ~ label {
  color: #000;
}
.components-filter .rate10:not(:checked) > label:hover,
.components-filter .rate10:not(:checked) > label:hover ~ label {
  color: #000;
}
.components-filter .rate10 > input:checked + label:hover,
.components-filter .rate10 > input:checked + label:hover ~ label,
.components-filter .rate10 > input:checked ~ label:hover,
.components-filter .rate10 > input:checked ~ label:hover ~ label,
.components-filter .rate10 > label:hover ~ input:checked ~ label {
  color: #000;
}

/* FOOTER PART */
.site-footer {
  padding: 64px 0;
}

.site-footer__title {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.site-footer__link {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.site-footer__tags {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.site-footer__about {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}/*# sourceMappingURL=main.css.map */