/* FOOTER PART */
.site-footer{
padding: 64px 0;
}
.site-footer__title{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.site-footer__link{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6A983C;
}

.site-footer__tags{
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
}

.site-footer__about{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #151515;
}