/* home page start */
.home-hero__topic {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.home-hero__item {
    padding: 64px 0;
}


.home-hero__link {
   
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #6A983C;
}

.more {
    padding-right: 30px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    position: relative;

    &::before {
        content: "";
        background-image: url("../images/right-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 17px;
        height: 16px;
        position: absolute;
        top: 10px;
        right: 7px;
    }
}

.content {
    padding: 48px 18px 15px 33px;
    background-image: url("../images/card-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    @include bgRetinaImages {
        background-image: url("../images/card-1@2x.jpg");
    }
}

.desc {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
}

.hero-title {
    margin-bottom: 94px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.read {
    position: relative;
    padding-right: 30px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
    border: 2px solid #92C064;
    border-radius: 12px;
}

.read-after {
    position: absolute;
    top: 6px;
    right: 5px;
    color: #6A983C;
}


/* ==== PRODUCT SECTION === */

.product__topic {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.product__item {
    padding: 16px;
    border: 1px solid #D1D1D1;
}

.product__title {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.product__text {
  
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #575757;
}

.product__img {
    width: 236px;
    height: 180px;
    border-radius: 12px;
    position: relative;
    margin-bottom: 10px;
}

.sale {
    color: #6A983C;
    padding: 4px 8px;
    position: absolute;
    top: 8px;
    left: 12px;
    background: #F4F8EC;
    border-radius: 12px;
}

.product__link {
    color: #fff;
    width: 100%;
    max-width: 120px;
    background-color: #6A983C;
}

.usd-del {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #A9A9A9;
}

.headline-top {
    margin-bottom: 32px;
}

.headline {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;
}

.headline-button {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.button-before {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 10px;
    width: 17px;
    height: 16px;
}

/*     HOME BLOG  */

.home-blog-cotent {
    padding: 270px 24px 24px 24px;
    background-image: url("../images/home-blog-egg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::after {
        content: "";
        background-image: url("../images/author.svg ");
        background-repeat: no-repeat;
        background-size: contain;
        width: 32px;
        height: 32px;
        position: absolute;
        bottom: 18px;
        left: 16px;
    }
}

.home-blog-topic {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
}

.home-blog-name {
   
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.home-blog-before {
    padding: 4px 8px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    position: absolute;
    top: 24px;
    left: 24px;
    background: #F4F8EC;
    border-radius: 12px;
}


.vegetable {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #6A983C;
    background: #F4F8EC;
    border-radius: 12px;
}

.home-blog-vegetable-topic {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #151515;

}

.home-vegatble-name {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}

.home-blog-salad {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}


.offcanvas-title {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
}

.canvas-close {
  
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #D1D1D1;
}

.canvas-img {
    width: 100px;
    height: 67px;
    background-color: #F9F9F9;
    ;
    border-radius: 12px;
}

.canvas-list {
    padding-left: 25px;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
    position: relative;

    &::before {
        content: "";
        background-repeat: no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 3px;
        left: 0;
    }

    &:nth-child(1)::before {
        background-image: url("../../images/canvas-wishlist.svg");
    }

    &:nth-child(2)::before {
        background-image: url("../../images/canvas-compare.svg");
    }

    &:nth-child(3)::before {
        background-image: url("../../images/canvas-remove.svg");
    }

}


.canvas-item {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A9A9A9;
}

.canvas-desc {
   
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #151515;
}


.canvas-rate {
   
    float: left;
    height: 46px;
    padding: 0 10px;
    padding-left: 0;
}

.canvas-rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.canvas-rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.canvas-rate:not(:checked)>label:before {
    content: '★ ';
}

.canvas-rate>input:checked~label {
    color: #000;
}

.canvas-rate:not(:checked)>label:hover,
.canvas-rate:not(:checked)>label:hover~label {
    color: #000;
}

.canvas-rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #000;
}


.canvas-ins {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #6A983C;
    text-decoration: none;
}

.canvas-del {
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: line-through;
    color: #A9A9A9;
}

.canvas-btn {
    background: #F9F9F9;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
}



.canvas-quantity {
    padding-right: 8px;
    padding-left: 5px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border-right: 2px solid #D1D1D1;
    transform: rotate(90deg);
}

.canvas-select {
    font-family: "Poppins", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #151515;
    border: transparent;
    background-color: transparent;
}

.canvas-space {
    visibility: hidden;
}

.canvas-footer {
    margin-top: 200px;
}

.canvas-subtotal {
    margin-bottom: 8px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.canvas-total {
    display: inline-block;
    padding-bottom: 25px;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    color: #151515;
}

.canvas-bottom {
    padding-top: 15px;
    border-top: 1px solid #EBEBEB;
}

.canvas-shopping {
    display: inline-block;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #151515;
}

.canvas-checkout {
    display: inline-block;
    font-family: "Poppins", "Arial", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    background: #6A983C;
    border: 2px solid #46760A;
    border-radius: 12px;
}


/* CAROUSEL  */

.owl-prev,
.owl-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    color: aliceblue !important;
    font-size: 25px !important;
    font-weight: bolder !important;
    background: none !important;
}

.owl-prev {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 0px !important;
    display: block;
    margin: 0 !important;
    left: 0;
    width: 32px;
    height: 48px;
    background: #151515 !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.owl-next {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    margin: 0 !important;
    right: 0;
    width: 32px;
    height: 48px;
    background: #151515 !important;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.carousel-list {
    padding-bottom: 24px;
    position: relative;

}

.carousel__item {
    width: 100%;
    max-width: 369px;
    padding: 24px 32px 82px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
}

.carousel__quote {
    margin-bottom: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #151515;
}

.carousel__title {
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #A9A9A9;
}

.owl-carousel .owl-item img {
    display: block;
    width: 48px !important;
}

.carousel__img {
    position: absolute;
    bottom: 0px;
    z-index: 5;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}